.import-file-container {
    align-items: center;
    justify-content: center;
}

.import-file-container input {
    display: none;
}

.import-file-container button {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
}

.import-file-container:not(.button-only) {
    max-width: 57rem;
    padding: 2.4rem;
    gap: 1.6rem;
    border-radius: 0.8rem;
    border: 1px solid #00358033;
}

.import-file-container:not(.button-only):has(svg.preview-icon) {
    border-style: dashed;
}

.import-file-container>.import-file-prefix:not(*:has(>img)) {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
}

.import-file-container>.import-file-prefix {
    background-color: #edf2fd;
    align-items: center;
    justify-content: center;
}

.import-file-container>.import-file-prefix>img {
    max-width: 14rem;
    max-height: 8.8rem;
    border-radius: 0.8rem;
}

.import-file-container>.file-preview-content {
    max-width: 100%;
    flex: 1;
    row-gap: 0.4rem;
    align-items: start;
}

.import-file-container.col>.file-preview-content {
    align-items: center;
}

.import-file-container>.import-file-suffix {
    padding: 0.8rem 1.6rem;
    border-radius: 0.8rem;
    column-gap: 0.8rem;
    align-items: center;
    justify-content: center;
    background-color: #f2f5f8;
}

.import-file-container>.import-file-suffix>span {
    padding: 0;
    font: 500 1.4rem/2.2rem "Inter";
    color: #00204d99;
}

.import-file-container .preview-file-link {
    font: 500 1.2rem/1.6rem "Inter";
    color: #366ae2;
}

.remove-preview-file {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 0.6rem;
}

.Toastify__toast-body>div:last-child {
    font: 500 1.2rem/1.6rem "Inter";
}