.import-file-container {
  align-items: center;
  justify-content: center;
}

.import-file-container input {
  display: none;
}

.import-file-container button {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

.import-file-container:not(.button-only) {
  max-width: 570px;
  padding: 36px;
  column-gap: 16px;
  border-radius: 8px;
  border: 1px solid #00358033;
}

.import-file-container:not(.button-only):has(svg.preview-icon) {
  border-style: dashed;
}

.import-file-container > .import-file-prefix {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #edf2fd;
  align-items: center;
  justify-content: center;
}

.import-file-container > .file-preview-content {
  flex: 1;
  row-gap: 4px;
  align-items: start;
}

.file-preview-content > .title-file {
  font: 600 16px/24px "Inter";
  color: #00204d;
}

.file-preview-content > .subtitle-file {
  font: 400 12px/16px "Inter";
  color: #00204d99;
}

.import-file-container > .import-file-suffix {
  padding: 9px 16px;
  border-radius: 8px;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
  background-color: #f2f5f8;
}

.import-file-container > .import-file-suffix > span {
  padding: 0;
  font: 500 14px/22px "Inter";
  color: #00204d99;
}

.import-file-container .preview-file-link {
  font: 500 12px/16px "Inter";
  color: #366ae2;
}

.remove-preview-file {
  width: 16px;
  height: 16px;
  margin-left: 6px;
}
