.edu-schedule {
              width: 100%;
              height: max-content;
              row-gap: 2.4rem;
              padding: 1.6rem 8.9rem;
}

.course-list {
              gap: 4rem;
              flex-wrap: wrap;
              width: 100%;
              flex: 1;
              align-items: stretch;
}

.course-list>.card-view-course {
              --gutter: 4rem;
}

.course-list>.card-view-course>.course-img {
              background-size: cover;
              height: 18rem;
              width: 100%;
              border-radius: 8px;
}

.course-list>.card-view-course>.course-infor {
              row-gap: 2rem;
              max-height: 148px;
              height: 100%;
              flex: 1;
}

.card-view-course>.course-infor>.heading-7 {
              max-height: 4.8rem;
              flex: 1;
}

.card-view-course>.course-infor .percent-tag {
              border-radius: 10rem;
              background-color: var(--background);
              color: #00204D99 !important;
              padding: 4px 0.8rem;
}