.sidebar {
    left: 0;
    gap: 1.2rem;
    padding: 1.6rem;
    border-right: 1px solid #00358014;
    z-index: 12;
}

.sidebar>col:has(> .sidebar-item) {
    gap: 1.2rem;
    flex: 1;
}

.sidebar .sidebar-item {
    padding: 1.2rem;
    border-radius: 0.8rem;
}

.sidebar .sidebar-item.selected {
    background-color: #00358014;
}

.support-action {
    flex-wrap: wrap;
    gap: 1.6rem;
}

.body-sidebar {
    width: min(max(20%, 30rem), 36.6rem);
    min-width: 30rem;
    max-width: 36.6rem;
    padding: 1.6rem;
    gap: 2.4rem;
    border-right: var(--border-grey1);
}

.body-sidebar,
.sidebar {
    position: fixed;
    height: calc(100% - 5.6rem - 1px);
    background-color: #fff;
}

.body-sidebar {
    left: 8rem;
    margin-left: calc(0px - min(max(20%, 30rem), 36.6rem));
    transition: margin-left ease-in-out 0.8s;
    -webkit-transition: margin-left ease-in-out 0.8s;
    z-index: 11;
}

.sidebar.expand+div .body-sidebar {
    margin-left: 0px;
}

div .body-sidebar+* {
    width: 100%;
    transition: width ease-in-out 0.8s;
}

.sidebar.expand+div .body-sidebar+* {
    width: calc(100% - min(max(20%, 30rem), 36.6rem));
}