.sidebar {
    height: 100%;
    max-width: 44.8rem;
    z-index: 1;
    width: 8.1rem !important;
    min-width: 8.1rem;
    transition: width, min-width ease-in-out 1s;
}

.sidebar>.collapse {
    background-color: #ffffff;
    z-index: 1;
    padding: 2.4rem 1.6rem;
    row-gap: 2.4rem;
    border-right: var(--border-grey1);
    box-sizing: border-box;
    align-items: center;
    height: 100%;
    max-width: 8.1rem;
}

.sidebar>.collapse>div {
    flex: 1;
    row-gap: 1.2rem;
}

.sidebar>.collapse .sidebar-item {
    border-radius: 0.8rem;
    box-sizing: border-box;
    padding: 1.2rem;
    cursor: pointer;
}

.sidebar>.collapse .sidebar-item.selected {
    background-color: #00358014;
}


.sidebar>.expand {
    max-width: 38rem;
    width: 100%;
    flex: 1;
    padding: 3.2rem 1.6rem 2.4rem 1.6rem;
    border-right: var(--border-grey1);
    box-sizing: border-box;
    row-gap: 2.4rem;
    height: 100%;
    background-color: #ffffff;
    margin-left: -100%;
    transition: margin-left ease-in-out 0.8s;
}


.sidebar[expand="true"]:has(>.expand) {
    width: 24%;
    min-width: 40rem;
    transition: width, min-width ease-in-out 1s;
}

.sidebar[expand="true"]>.expand {
    margin-left: 0;
    transition: margin-left ease-in-out 0.8s;
}

.sidebar>.expand>.module-menu {
    flex: 1;
    height: 100%;
    overflow: hidden auto !important;
    row-gap: 1.2rem;
}

.sidebar>.expand>.module-menu::-webkit-scrollbar {
    display: none;
}

.expand>.module-menu .col:has(> .sidebar-module-tile) {
    display: none;
}

.expand>.module-menu>.col {
    display: flex !important;
}

.expand>.module-menu .sidebar-module-tile {
    justify-content: space-between;
    padding: 8px 1.6rem;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 8px;
}

.expand>.module-menu .sidebar-module-tile:hover {
    background-color: #f5f7fa !important;
}

.expand>.module-menu .sidebar-module-tile.selected {
    background-color: #00358014 !important;
}

.module-menu .sidebar-module-tile>.label-3 {
    flex: 1;
}

.module-menu .col:has(> .sidebar-module-tile > .fa-chevron-up)>.col {
    display: flex !important;
}

.support-action {
    flex-wrap: wrap;
    gap: 1.6rem;
}

@media only screen and (min-width: 576px) and (max-width: 768px) {

    /* more config responsive */
    .sidebar {
        position: relative;
        overflow: visible !important;
        min-width: fit-content !important;
        width: fit-content !important;
    }

    .sidebar .expand {
        /* row-gap: 16px !important; */
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(calc(-100% + 8.1rem)) !important;
        transition: transform ease-in-out 1.2s !important;
        min-width: 32rem !important;
        box-shadow: 0 0 12px 0 #00204d1f;
    }

    .sidebar[expand="true"] .expand {
        transform: translateX(8.2rem) !important;
        transition: transform ease-in-out 1.2s !important;
    }
}