.sidebar {
    height: 100%;
    gap: 1.2rem;
    padding: 2.4rem 1.6rem;
    border-right: 1px solid #00358014;
}

.sidebar>col:has(> .sidebar-item) {
    gap: 1.2rem;
    flex: 1;
}

.sidebar .sidebar-item {
    padding: 1.2rem;
    border-radius: 0.8rem;
}

.sidebar .sidebar-item.selected {
    background-color: #00358014;
}

.support-action {
    flex-wrap: wrap;
    gap: 1.6rem;
}

.body-sidebar {
    margin-left: max(min(-20%, -30rem), -36.6rem);
    transition: margin-left ease-in-out 0.8s;
    -webkit-transition: margin-left ease-in-out 0.8s;
}

.sidebar.expand+div .body-sidebar {
    margin-left: 0px;
}

@media only screen and (max-width: 576px) {
    .sidebar {
        padding: 1.6rem 0.4rem;
    }
}