.header {
              padding: 0 32px;
              height: 56px;
              width: 100%;
              background-color: #394960;
}

.header>.logo {
              background-image: url("../../assets/Logo.svg");
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              width: 112.61px;
              height: 28px;
}

.header>.action {
              flex: 1;
              width: 100%;
              justify-content: end;
              column-gap: 16px;
}

.header>.action {
              flex: 1;
              width: 100%;
              justify-content: end;
}

.header>.action>.search-ebig {
              padding: 6px 12px;
              border-radius: 100px;
              column-gap: 12px;
              background-color: #F2F5F8;
}

.action>.search-ebig>input {
              outline: none;
              padding: 0;
              border: none;
              width: 100%;
              flex: 1;
              min-width: 60px;
              background-color: transparent;
}

.header>.action>button {
              outline: none;
              border: none;
              background-color: transparent;
              padding: 0;
}

.header>.action>.action-icon {
              width: 24px;
              height: 24px;
}

.header>.action>.user-infor {
              width: 32px;
              height: 32px;
              border-radius: 50%;
}