.main-layout {
    width: 100%;
    height: 100%;
}

.main-layout>.main-layout-body {
    flex: 1;
    width: 100%;
    height: 100%;
}

.main-layout>.main-layout-body>.view {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden auto;
}

.view:has(>.hero-header) {
    gap: 2.8rem;
}

@media only screen and (min-width: 1200px) {
    .card-mentor-schedule>.time-infor {
        border: none !important;
        border-left: var(--border-grey1) !important;
        padding-left: 2rem !important;
        padding-top: 0 !important;
    }
}