.date-picker-container {
    border-radius: 0.4rem;
    justify-content: start;
    width: 100%;
    height: 4rem;
    max-height: 100%;
    box-sizing: border-box;
    padding: 0.8rem;
    column-gap: 6px;
    width: 16rem;
    position: relative;
    border: 0.5px solid #00358033;
    border-radius: 4px;
}

.date-picker-container>.input-field-value {
    width: 100% !important;
    flex: 1;
    display: flex;
    font: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
    text-overflow: inherit;
}

.date-picker-container.disabled {
    background-color: var(--disabled-background) !important;
    pointer-events: none !important;
}

.date-picker-container.helper-text {
    overflow: visible !important;
    border-color: var(--helper-text-color) !important;
}

.date-picker-container.helper-text::after {
    content: attr(helper-text);
    color: #e14337;
    position: absolute;
    left: 0;
    bottom: 0;
    width: max-content;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
    transform: translate(-7.5%, 92.5%) scale(0.85);
}

.date-picker-container .input-field-value {
    flex: 1;
    width: 100%;
    background-color: transparent !important;
    font: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
    text-overflow: inherit;
}

.date-picker-container .input-field-value>input {
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: transparent;
    padding: 0;
    min-width: 0;
    width: 100%;
    font: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
    text-overflow: inherit;
}

.date-picker-container .input-field-value>input::placeholder {
    opacity: 0.6;
}

.date-picker-popup-container {
    position: absolute;
}

.date-picker-popup-container .picker-popup-footer {
    justify-content: center;
    gap: 0.8rem;
    padding: 1.6rem;
}

.date-picker-popup-container .reset-value-button {
    color: #00204D99;
    background-color: #F2F5F8;
    padding: 0.6rem 1.2rem;
    border-radius: 2.4rem;
    width: fit-content;
}

.date-picker-popup-container .apply-value-button {
    color: #ffffff;
    background-color: var(--primary-color);
    padding: 0.6rem 1.2rem;
    border-radius: 2.4rem;
    width: fit-content;
}