.date-picker-container {
    border-radius: 4px;
    justify-content: start;
    width: 100%;
    height: 4rem;
    max-height: 100%;
    box-sizing: border-box;
    padding: 0.8rem;
    column-gap: 6px;
    width: 16rem;
    position: relative;
    border: 0.5px solid #00358033;
    border-radius: 4px;
}

.date-picker-container>.input-field-value {
    width: 100% !important;
    flex: 1;
    display: flex;
    font: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
    text-overflow: inherit;
}

.date-picker-container.disabled {
    background-color: var(--disabled-background) !important;
    pointer-events: none !important;
}

.date-picker-container.helper-text {
    overflow: visible !important;
    border-color: var(--helper-text-color) !important;
}

:is(.date-picker-container, .upload-file-field).helper-text::after {
    content: attr(helper-text);
    color: red;
    position: absolute;
    left: 0;
    bottom: 0;
    width: max-content;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
    transform: translate(-7.5%, 92.5%) scale(0.85);
}

.date-picker-container .input-field-value {
    flex: 1;
    width: 100%;
    background-color: transparent !important;
}

.date-picker-container .input-field-value>input {
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: transparent;
    padding: 0;
    min-width: 0;
    width: 100%;
    font: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
    text-overflow: inherit;
}

.date-picker-container .input-field-value+.suffix-btn-txtfd {
    width: var(--suffix-size);
    height: var(--suffix-size);
    position: relative;
    box-sizing: border-box;
    --suffix-size: 1.8rem;
    margin: 0.8rem;
}

.date-picker-container .input-field-value+.suffix-btn-txtfd>* {
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body:has(> .date-picker-popup) {
    position: relative;
}

.date-picker-popup {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    height: fit-content;
    box-shadow: 0 0 12px 0 #00204d1f;
    align-items: center;
}

.date-picker-popup * {
    cursor: context-menu;
}

.date-picker-popup>.header {
    display: flex;
    align-items: center;
    padding: 1.2rem 1.6rem;
    background-color: transparent !important;
}

.date-picker-popup>.header>span {
    width: 100%;
    flex: 1;
    margin: 0 2.4rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: bold;
}

.date-picker-popup>.header>* {
    font-size: 1.6rem;
    color: #4b6281;
    cursor: pointer;
}

.date-picker-popup>.header>button {
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}

.date-picker-popup>.header>button * {
    pointer-events: none;
}

.date-picker-popup>.body {
    display: flex;
    flex-direction: column;
    padding: 1.2rem 1.6rem;
    border-top: 1px solid #00358014;
}

.date-picker-popup>.body:has(div:nth-child(5)) {
    border-bottom: 1px solid #00358014;
}

.date-picker-popup>.body>div {
    display: flex;
    justify-content: space-between;
}

.date-picker-circle {
    width: 3.2rem;
    height: 3.2rem;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 400;
    border-radius: 50%;
    color: #00204de5;
}

.month-picker-circle,
.year-picker-circle {
    width: 5.6rem;
    height: 3.2rem;
    margin: 0.8rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 400;
    border-radius: 24px;
    color: #00204de5;
    cursor: pointer;
}

.date-picker-popup div:not(div:first-child)>.date-picker-circle {
    cursor: pointer;
}

:is(.date-picker-circle,
    .month-picker-circle,
    .year-picker-circle)[is-select="true"] {
    background-color: #366ae2;
    color: white;
}

.date-picker-circle[in-range="false"] {
    opacity: 0 !important;
    pointer-events: none !important;
}

.date-picker-popup>.footer {
    width: fit-content;
    display: none;
    padding: 1.6rem 2.4rem;
    cursor: pointer;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #366ae2;
    font-weight: 500;
    align-items: center;
}

.date-picker-popup>.body:has(div:nth-child(5))+.footer {
    display: block;
}

.auto-complete-body {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    max-height: 40rem;
    height: fit-content;
    overflow: hidden auto;
    background-color: white;
    border-radius: 2px;
}

.auto-complete-body>.option {
    width: 100%;
    padding: 6px 1rem;
    box-sizing: border-box;
    font: var(--font-style-label-label-2-400-body);
    color: black;
    cursor: pointer;
}

.auto-complete-body>.option>* {
    pointer-events: none;
}

.auto-complete-body:has(> *:first-child) {
    border: 0.5px solid #c5c5c5;
}

.auto-complete-body>.option:not(.option:last-child) {
    border-bottom: 1px solid #c5c5c5;
}

.auto-complete-body>.option:hover {
    background-color: var(--background-color-background-grey-light-2);
}