.list-card-course-infor {
    gap: 2.4rem;
    flex-wrap: wrap;
    width: 100%;
    flex: 1;
    height: 100%;
    align-items: stretch;
}

.details-view-container {
    width: 100%;
    flex: 1;
    height: 100%;
    padding: 0 3.2rem;
}

.details-view-container .details-view-header {
    justify-content: space-between;
    padding: 1.6rem 0;
    border-bottom: var(--border-grey1);
}

.details-view-container .details-view-header>a.button-grey {
    text-decoration: none;
    pointer-events: none;
}

.details-view-body .details-view-body-sidebar {
    padding: 3.2rem 1.6rem 3.2rem 0;
    border-right: var(--border-grey1);
    height: 100%;
    width: 18%;
    gap: 2.4rem;
}

.details-view-body-sidebar>.col {
    overflow: hidden auto;
    gap: 0.4rem;
    height: 100%;
    flex: 1;
}

.details-view-body-sidebar .details-sidebar-tile {
    gap: 0.8rem;
    padding: 0.9rem 1.6rem;
    border-radius: 0.8rem;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
}

.details-view-body-sidebar .details-sidebar-tile .checkbox-container:has(input:checked) {
    background-color: #00204D99 !important;
}

.details-view-body-sidebar .details-sidebar-tile .checkbox-container:has(input:checked)>svg>path {
    stroke: white !important;
}

.details-view-body-sidebar .details-sidebar-tile:hover {
    background-color: var(--hover-background);
}

.details-view-body-sidebar .details-sidebar-tile.selected {
    background-color: var(--background);
    pointer-events: none !important;
}

.col:has(> .details-sidebar-tile > .fa-chevron-down)>.details-sidebar-tile:not(*:first-child) {
    display: none;
}

.details-view-body-content {
    flex: 1;
    width: 100%;
    height: 100%;
}

.course-overview-form {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 0.4rem 2.4rem 1.2rem 2.4rem;
    align-items: stretch;
    gap: 2rem 4rem;
    overflow: hidden auto;
}

.course-curriculum-empty {
    gap: 2.4rem;
    flex-wrap: wrap;
    width: 100%;
    align-items: stretch;
}

.course-curriculum-empty button {
    background-color: var(--background);
    border-radius: 0.8rem;
    padding: 2.4rem;
    gap: 1.6rem;
    --gutter: 2.4rem;
}

.lesson-title-tile {
    border-radius: 0.8rem;
    background-color: var(--background)
}

.lesson-title-tile .edit-title-action-tile {
    gap: 1rem;
    padding: 1.2rem 2.4rem 1.2rem 4rem;
    position: relative;
}

.lesson-title-tile .edit-title-action-tile>.text-field-container {
    width: 100%;
    flex: 1;
    background-color: #F9FAFB;
    padding: 0.6rem 1.2rem;
    height: fit-content;
    border-radius: 10rem
}

.lesson-title-tile .edit-title-action-tile>.comp-text {
    --max-line: 1;
    width: 100%;
    flex: 1;
}

.lesson-title-tile .footer-group-action {
    padding: 1.2rem 4rem;
    gap: 0.8rem
}

.lesson-title-tile .footer-group-action>button {
    padding: 0.4rem 0.8rem;
    gap: 0.8rem;
    border-radius: 2.4rem;
    background-color: #F9FAFB
}

.details-view-body-content:has(> .form-edit-lesson-content) {
    padding: 0;
}

.form-edit-lesson-content {
    flex: 1;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    gap: 0px;
    align-items: stretch;
}

.form-edit-lesson-content>div[class*="col"] {
    --gutter: 0px;
    height: 100%;
    padding: 2.4rem;
    align-items: start;
}

.content-edit-action-block>.group-action-edit {
    width: 100%;
    gap: 1.2rem;
    overflow: hidden auto;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: start;
}

.content-edit-action-block:has(>div:nth-child(2))>.group-action-edit {
    max-height: 24rem;
}

.content-edit-action-block>.group-action-edit>button.col {
    border-radius: 0.8rem;
    background-color: var(--background);
    padding: 2.4rem 1.2rem;
    --gutter: 1.2rem;
    gap: 1.2rem;
    align-items: center;
}

.quest-block-infor {
    position: relative;
    padding: 2rem 3.2rem 2rem 4rem;
    gap: 0.8rem;
    border-radius: 0.8rem;
    border: var(--border-grey1);
    background-color: var(--background);
    align-items: start;
}

.btn-sort {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0.4rem, -50%);
    padding: 0.4rem;
    cursor: pointer;
}

.fee-schedule-view {
    padding: 0 2.4rem 1.2rem 2.4rem;
    flex: 1;
    height: 100%;
    overflow: hidden auto;
    gap: 2.4rem
}

.fee-schedule-view>* {
    max-width: 44.2rem;
}

.list-lesson-time-range {
    gap: 1.2rem;
    flex: 1;
    overflow: visible;
}

.lesson-time-range-container {
    gap: 1.2rem;
    overflow: visible;
    position: relative;
}

.lesson-time-range-container>.delete-tim-range {
    position: absolute;
    left: -0.8rem;
    top: 50%;
    transform: translate(-100%, -50%);
    border-radius: 50%;
    justify-content: center;
    background-color: #ffffff;
    width: 2.4rem;
    height: 2.4rem;
}

.preview-container,
.preview-container>.row {
    flex: 1;
    width: 100%;
    height: 100%;
}

.hero-header {
    background-repeat: no-repeat;
    background-size: cover;
    height: 32%;
    min-height: 16rem;
    max-height: 38rem;
    padding: 0 24% 2.4rem 8%;
    justify-content: end;
}

.header-text * {
    color: #ffffff;
}

.more-infor-block {
    height: 100%;
    width: min(47.8rem, 26%);
    min-width: 40rem;
    overflow: hidden auto;
    padding: 0 3.2rem 1.6rem 3.2rem;
    gap: 2.4rem;
    border-left: var(--border-grey1);
}

.details-block,
.details-block>.tab-container {
    height: 100%;
    width: 100%;
    flex: 1;
    gap: 0;
}

.group-tag-infor {
    flex-wrap: wrap;
    gap: 0.8rem 2.4rem;
    background-color: #F9FAFB;
    padding: 1.6rem;
}

.details-block>.tab-container>.tab-header-2 {
    margin: 0 3.2rem;
    width: calc(100% - 6.4rem);
}

.option-buy-class-mentor {
    padding: 1.6rem;
    border-radius: 0.8rem;
    gap: 1.6rem;
    border: var(--border-grey1);
}

.option-buy-class-mentor.selected {
    border-color: var(--primary-color);
}

@media only screen and (min-width: 992px) {
    .course-overview-form>.col:last-child {
        border-left: var(--border-grey1);
        padding-left: 4rem;
    }
}

@media screen and (min-width: 1200px) {
    .details-block>.tab-container>.tab-header-2 {
        margin: 0 14.8%;
        width: 70.4%;
    }

    .details-block>.tab-container>.tab-body-2 {
        padding: 1.2rem 14.8% !important;
    }
}

.lesson-content-view img {
    max-width: 100%;
}

/* min */
@media only screen and (max-width: 576px) {
    .more-infor-block {
        display: none;
    }

    .on-show-lesson-list,
    .buy-course-with-options {
        display: flex !important;
    }
}

/* sm */
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .more-infor-block {
        display: none;
    }

    .on-show-lesson-list,
    .buy-course-with-options {
        display: flex !important;
    }
}