.view>.social-view {
    flex: 1;
    height: 100%
}

.news-bookmark-tab {
    padding: 0.8rem 1.6rem;
    border-radius: 0.8rem;
    width: 100%;
    justify-content: start;
    text-align: start;
}

.news-bookmark-tab.selected {
    background-color: #00358014;
}

.additional-infor-view {
    position: fixed;
    right: 0;
    border-left: var(--border-grey1);
    padding: 3.2rem;
    gap: 4rem;
    width: min(max(calc(100% - 8rem) * 24 / 100, 28rem), 44rem);
    background-color: #fff;
    height: calc(100% - 6rem);
    margin-right: 1.4rem;
    overflow: hidden auto;
}

div:has(> .additional-infor-view) {
    padding-right: calc(min(max(24%, 28rem), 44rem) + 0.4rem);
}

.filter-news-container {
    gap: 2.4rem;
    width: 100%;
    align-items: stretch;
}

.filter-news-container>div {
    gap: 2.4rem;
    overflow: auto hidden;
    flex: 1;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.filter-news-container>div::-webkit-scrollbar {
    display: none !important;
}

.filter-news-container>div>.filter-news-tab {
    padding: 0.8rem;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.filter-news-container>div>.filter-news-tab.selected {
    border-color: var(--primary-color);
}

.filter-news-container>div>.filter-news-tab.selected>* {
    color: var(--primary-color);
}

/* md */
@media only screen and (max-width: 992px) {
    .additional-infor-view {
        display: none;
    }

    div:has(> .additional-infor-view) {
        padding-right: 0 !important;
    }
}