:root {
    --main-color: #3f237b;
    --light-background: #F9FAFB;
    --dark-background: #1A212B;
    --background-grey2: #C0CBD83D;
    --hover-background: #f1f1f1;
    --selected-background: #C0CBD83D;
    --disabled-background: #f5f7fa;
    --disabled-font-color: #9fb0c7b3;
    --border-grey1: 1px solid #00358014;
    --border-primary: 1px solid var(--primary-color);
}