:root {
    --primary-color: #366AE2;
    --primary-background: #EDF2FD;
    --success-color: #39AC6D;
    --success-background: #E8F7EF;
    --background: #F2F5F8;
    --dark-background: #1A212B;
    --hover-background: #f1f1f1;
    --disabled-background: #f5f7fa;
    --disabled-font-color: #9fb0c7b3;
    --border-grey1: 1px solid #00358014;
}