.edu-dashboard {
              width: 100%;
              height: max-content;
              row-gap: 2.4rem;
              align-items: center;
}

.banner-container {
              background-image: url("../../assets/demo-banner.png");
              background-size: cover;
              row-gap: 3.2rem;
              padding: 5% 10%;
              width: 100%;
              box-sizing: border-box;
}

.banner-container .banner-btn {
              color: #ffffff;
              border-radius: 24px;
              background-color: var(--primary-color);
              padding: 8px 1.6rem;
              width: fit-content;
}

.banner-container .banner-btn-2 {
              color: var(--primary-color);
              border-radius: 24px;
              border: 1px solid var(--primary-color);
              padding: 8px 1.6rem;
              width: fit-content;
}

.dashboard-content {
              row-gap: 3.2rem;
              width: 90%;
              padding-bottom: 3.2rem;
              box-sizing: border-box;
}

.block-view {
              row-gap: 1.6rem;
}

.block-view>.list-card {
              gap: 2.4rem;
              flex-wrap: wrap;
}

.card-view-1 {
              background-color: var(--background);
              border-radius: 8px;
              padding: 4rem 3.2rem;
              max-height: 28.8rem;
              height: 100%;
}

.card-view-1:not(*[class*="col24"]) {
              height: 100%;
}

.card-view-1 .text-content {
              flex: 1;
              width: 100%;
              row-gap: 4px;
}

.card-button {
              column-gap: 8px;
              padding: 8px 1.6rem;
              border: 1px solid #00358033;
              border-radius: 24px;
              text-decoration: none;
}

.card-button * {
              color: #00204D99;
}

.card-button-2 {
              column-gap: 8px;
              padding: 8px 1.6rem;
              border-radius: 24px;
              text-decoration: none;
              background-color: var(--primary-color);
}

.card-button-2 * {
              color: #ffffff;
}


.card-image-1 {
              flex-wrap: wrap;
              width: 100%;
              border-radius: 8px;
              background-color: var(--background);
              column-gap: 3.2rem;
              row-gap: 2.4rem;
}

.card-image-1 * {
              --gutter: 3.2rem;
}

.card-image-1>.prefix-img {
              background-image: url('../../assets/demo-image1.png');
              --gutter: 3.2rem;
              height: max(188px, 28rem);
              background-size: cover;
}

.card-image-1>.card-content {
              padding: 0 2.4rem 1.6rem 2.4rem;
              flex-wrap: wrap;
              gap: 3.2rem 1.6rem;
              justify-content: space-between;
}

.block-view>.block-title {
              justify-content: space-between;
}

.block-view>.block-title>.button-text-3 {
              color: var(--primary-color);
}

.list-card-scroll {
              overflow: auto hidden;
              column-gap: 4rem;
}

.card-image-2 {
              width: 29.4rem;
              height: 100%;
}

.card-image-2>.top-img {
              background-size: cover;
              height: 18rem;
              width: 100%;
              border-radius: 8px;
}

.card-image-2>.text-content {
              padding: 2.4rem 0;
              row-gap: 4px;
}

.card-view-1:has(>.noti) {
              position: relative;
}

.card-view-1>.noti {
              position: absolute;
              top: 10px;
              right: 10px;
              width: 2.4rem;
              height: 2.4rem;
              border-radius: 50%;
              background-color: #ffffff;
              justify-content: center;
}

.group-prev-next {
              column-gap: 8px;
}

.group-prev-next>div {
              justify-content: center;
              width: 3.2rem;
              height: 3.2rem;
              background-color: var(--background);
              border-radius: 50%;
}

.group-prev-next>div>* {
              font-size: 1.6rem;
              color: #00204D99;
}

.list-card-view {
              width: 100%;
              gap: 2.4rem;
}

.card-image-3 {
              padding: 2.4rem;
              border-radius: 8px;
              border: 1px solid #00358014;
              gap: 2.4rem;
              flex-wrap: wrap;
}

.card-image-3>.prefix-img {
              background-image: url('../../assets/demo-image5.png');
              --gutter: 2.4rem;
              height: max(104px, 16rem);
              background-size: cover;
              border-radius: 8px;
              overflow: hidden;
}

.card-image-3>.card-content {
              row-gap: 1.6rem;
}

.card-image-3>.card-content {
              row-gap: 1.6rem;
}

.card-image-3>.card-content>.content-1 {
              row-gap: 8px;
              padding-bottom: 1.2rem;
              border-bottom: 1px solid #00358014;
}

.card-image-3>.card-content>.content-2 {
              column-gap: 8px;
}

.card-image-3 .list-avatar {
              position: relative;
              width: 12.8rem;
              height: 3.2rem;
}

.card-image-3 .list-avatar>.avatar-circle {
              position: absolute;
              top: 0;
              background-color: var(--background);
              border: 2px solid #ffffff;
              border-radius: 50%;
              overflow: hidden;
              width: 3.2rem;
              height: 3.2rem;
              justify-content: center;
              align-items: center;
}

.card-image-3 .content-2>.schedule-time {
              flex: 1;
              width: 100%;
              align-items: end;
}

.card-image-3 .content-2>.schedule-time>* {
              width: 100%;
              text-overflow: ellipsis;
              text-wrap: nowrap;
              overflow: hidden;
              text-align: end;
}

.card-image-4>.prefix-img {
              width: 8rem;
              height: 8rem;
              border-radius: 50%;
}

.card-image-4>.card-btn {
              padding: 5px 1.2rem;
              border-radius: 24px;
              background-color: var(--background);
              width: fit-content;
}

.block-btn {
              padding: 5px 1.2rem;
              border-radius: 24px;
              width: fit-content;
              border: 1px solid #00358033;
              margin: 0 2.4rem;
              color: #00204D99;
}

.block-view>.block-body-tile {
              padding: 1.6rem 0;
              border-radius: 8px;
              background-color: var(--background);
}

.list-content-block {
              flex-wrap: wrap;
              padding: 1.6rem 0;
              flex: 1;
              width: calc(100% - 4.8rem);
}

.list-content-block>.content-block {
              --gutter: 2.4rem;
              row-gap: 1.6rem;
              padding: 1.2rem 3.2rem;
}