.main-layout>.header {
    padding: 2rem 3.2rem;
    width: 100%;
    justify-content: space-between;
    border-bottom: var(--border-grey1);
}

.main-layout>.header>.logo {
    background-image: url("../../../assets/eBig-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 11.261rem;
    height: 2.8rem;
}

.main-layout>.header>.action {
    gap: 2.4rem;
    justify-content: end;
}

.main-layout>.header>.action>.search-ebig {
    padding: 0.6rem 1.2rem;
    border-radius: 10rem;
    gap: 1.2rem;
    background-color: #F2F5F8;
    box-sizing: border-box;
    max-width: 33.4rem;
}

@media only screen and (max-width: 576px) {
    .main-layout>.header {
        padding: 0.8rem 1.6rem;
    }
}