.main-layout>.header {
    position: sticky;
    padding: 1.2rem 3.2rem;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: var(--border-grey1);
    background-color: #fff;
    /* z-index > z-index of slider 10 */
    z-index: 11
}

.main-layout>.header>.logo {
    background-image: url("../../../assets/eBig-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    flex: 1;
    width: 11.261rem;
    height: 2.8rem;
}

.main-layout>.header>.action {
    gap: 2.4rem;
    justify-content: end;
}

.main-layout>.header>.action>.search-ebig {
    padding: 0.6rem 1.2rem;
    border-radius: 10rem;
    gap: 1.2rem;
    background-color: #F2F5F8;
    box-sizing: border-box;
    max-width: 33.4rem;
}

.header>button:first-child {
    display: none;
}