.checkbox-container {
    position: relative;
    width: 24px;
    aspect-ratio: 1 / 1 !important;
    border-radius: 4px;
    display: inline-block;
}

.checkbox-container>input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container>svg {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0 !important;
    transition: visibility, opacity 0.5s;
}

.checkbox-container>input:checked~svg {
    visibility: visible;
    opacity: 1 !important;
}

.checkbox-container:has(> input:checked) {
    background-color: var(--checked-color) !important;
    border: none !important;
}