.custom-slider-container {
    --content-background-color: #00000000 !important;
}

.custom-slider-container .awssld__content>* {
    width: 100%;
    height: 100%;
}

.custom-slider-container .awssld__controls button {
    padding: 2.4rem;
    width: fit-content;
    height: fit-content;
    top: 50%;
    transform: translateY(-50%);
}