.text-area-container {
    height: 4rem;
    position: relative;
    gap: 0.8rem;
    border-radius: 0.4rem;
    border: 0.5px solid #00358033;
    padding: 1.6rem;
    align-items: start;
}

.text-area-container:has(> textarea:disabled) {
    background-color: var(--disabled-background) !important;
    pointer-events: none !important;
}

.text-area-container:has(> textarea:focus) {
    border-color: #366AE2;
}

.text-area-container>textarea {
    flex: 1;
    padding: 0;
    width: 100%;
    height: inherit;
    max-height: 100%;
    border: none;
    outline: none;
    background-color: transparent !important;
    font: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
    text-overflow: inherit;
    resize: inherit;
}

.text-field-container>textarea::placeholder {
    opacity: 0.4;
}

.text-area-container.helper-text {
    overflow: visible !important;
    border-color: var(--helper-text-color) !important;
}

.text-area-container.helper-text {
    overflow: visible !important;
    border-color: var(--helper-text-color) !important;
}

.text-area-container.helper-text::after {
    content: attr(helper-text);
    color: var(--helper-text-color);
    position: absolute;
    left: 0;
    bottom: -0.4rem;
    width: max-content;
    font: 400 1.2rem/1.6rem 'Inter';
    transform: translate(-7.5%, 92.5%) scale(0.85);
}