.icon-button32 {
    width: 3.2rem;
    height: 3.2rem;
    justify-content: center;
}

.icon-button32>* {
    font-size: 2rem;
    color: #00204D99;
}

.icon-button24 {
    width: 2.4rem;
    height: 2.4rem;
    justify-content: center;
}

.icon-button24>* {
    font-size: 1.4rem;
    color: #00204D99;
}

.icon-button16 {
    width: 1.6rem;
    height: 1.6rem;
    justify-content: center;
}

.icon-button16>* {
    font-size: 1.2rem;
    color: #00204D99;
}

.button-grey {
    padding: 0.6rem 1.2rem;
    background-color: var(--background);
    gap: 0.8rem;
    border-radius: 2.4rem;
    justify-content: center;
    width: fit-content;
}

.button-grey * {
    color: #00204D99;
}

.button-primary {
    gap: 0.8rem;
    padding: 0.8rem 1.6rem;
    border-radius: 2.4rem;
    text-decoration: none;
    background-color: var(--primary-color);
    justify-content: center;
    width: fit-content;
}

.button-primary * {
    color: #ffffff;
}

.button-disabled,
.tag-disabled {
    color: #00204D99 !important;
    background-color: var(--background);
    padding: 0.4rem 0.8rem;
    gap: 0.8rem;
    border-radius: 10rem;
    width: fit-content;
    justify-content: center;
    pointer-events: none !important;
}

.button-disabled *,
.tag-disabled * {
    color: #00204D99;
}

.button-disabled.border,
.tag-disabled.border {
    border: var(--border-grey1);
}

.button-infor,
.tag-infor {
    color: var(--primary-color) !important;
    background-color: var(--primary-background);
    padding: 0.4rem 0.8rem;
    gap: 0.8rem;
    border-radius: 10rem;
    width: fit-content;
    justify-content: center;
}

.button-infor *,
.tag-infor * {
    color: var(--primary-color);
}

.button-infor.border,
.tag-infor.border {
    border: 1px solid var(--primary-color);
}

.button-warning,
.tag-warning {
    color: var(--warning-color) !important;
    background-color: var(--warning-background);
    padding: 0.4rem 0.8rem;
    gap: 0.8rem;
    border-radius: 10rem;
    width: fit-content;
    justify-content: center;
}

.button-warning *,
.tag-warning * {
    color: var(--warning-color);
}

.button-warning.border,
.tag-warning.border {
    border: 1px solid var(--warning-color);
}

.button-success,
.tag-success {
    color: var(--success-color) !important;
    background-color: var(--success-background);
    padding: 0.4rem 0.8rem;
    gap: 0.8rem;
    border-radius: 10rem;
    width: fit-content;
    justify-content: center;
}

.button-success *,
.tag-success * {
    color: var(--success-color);
}

.button-success.border,
.tag-success.border {
    border: 1px solid var(--success-color);
}

.col.divider {
    margin: 1.6rem 0;
    height: 1px;
    background-color: var(--background);
}

.row.divider {
    margin: 0 1.6rem;
    width: 1px;
    background-color: var(--background);
}

.search-default {
    background-color: var(--background);
    border-radius: 2.4rem !important;
    border: none !important;
}

.search-default > svg {
    font-size: 1.2rem; color: #00204D99
}

.week-calendar {
    width: 100%;
    padding-left: 7.2rem;
    position: relative !important;
}

.time-line-container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 1.4rem
}

.time-line-container .label-3 {
    width: 6rem;
    height: 4.8rem;
    padding: 0 1rem;
    justify-content: end;
}

.time-line-container .time-line {
    flex: 1;
    width: 100%;
    height: 1px;
    background-color: #00358014;
}

.event-time-infor-container .date-time-col {
    width: 100%;
    padding: 0.8rem;
    align-items: end;
    position: relative;
}

.event-time-infor-container>.row>.date-time-col {
    flex: 1;
}

.date-time-col>.label-3 {
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
}

.date-time-col.today {
    color: var(--primary-color);
}

.date-time-col.today>.label-3 {
    background-color: var(--primary-color);
    color: #ffffff;
}

.date-time-col:not(*:nth-child(7n)) {
    border-right: var(--border-grey1);
}

.event-time-infor-container>.date-time-col,
.event-time-infor-container>.row:last-child {
    border: var(--border-grey1);
    border-top: none;
}

.event-time-infor-container>.row:first-child>.date-time-col {
    border: none;
}

.block-event {
    position: absolute;
    left: 0;
    width: 100%;
}

.event-time-infor-container>.date-time-col>.block-event {
    width: calc(80% - 7.2rem);
    left: calc((100% - 7.2rem) / 2);
    transform: translateX(calc(-50% + 7.2rem));
}

.picker-time-hm-container>.input-time-container {
    background-color: #ffffff;
    height: 3.2rem;
    padding: 0.4rem 1.2rem;
    border-radius: 0.4rem
}

.post-card-container {
    gap: 2.4rem;
    height: fit-content;
}

.post-card-container.row>.thumbnail {
    order: 1;
}

.post-card-container>.thumbnail {
    border-radius: 0.8rem;
    object-fit: cover;
    object-position: center;
}

.post-card-container>.thumbnail:hover>img {
    transition: scale ease-in-out 0.2s;
    scale: 1.1;
}

.infor-card-container {
    gap: 1.6rem;
    padding: 2rem 1.6rem;
    border-radius: 0.8rem;
    border: var(--border-grey1);
    align-items: center;
    text-align: center;
}

.infor-card-container.row>.infor-details {
    flex: 1;
}

.infor-card-container>.infor-details {
    gap: 0.4rem;
    align-items: inherit;
    text-align: inherit;
}

.infor-card-container>.infor-details>* {
    width: 100%;
    text-align: inherit;
}

.infor-card-container.row>.infor-details>* {
    text-align: start;
}

.course-card-container {
    gap: 2rem;
    padding: 2rem;
    border-radius: 0.8rem;
    border: var(--border-grey1);
}

.course-card-container>.main-content-container {
    gap: 2.4rem;
    flex: 1;
    align-items: start;
}

.course-card-container>.main-content-container .thumbnail {
    border-radius: 0.8rem;
    object-fit: cover;
    object-position: center;
}

.course-card-container>.main-content-container .thumbnail {
    border-radius: 0.8rem;
    object-fit: cover;
    object-position: center;
}

.course-card-container>.main-content-container .thumbnail:hover>img {
    transition: scale ease-in-out 0.2s;
    scale: 1.1;
}