.custom-table {
    border: none;
    min-width: 100%;
    border-collapse: collapse;
}

.custom-table>.tb-header {
    top: -1px;
    z-index: 4;
    position: sticky;
    background-color: #f9fafb;
}

.custom-table>.tb-header>tr {
    border-top: var(--border-grey1);
    border-bottom: var(--border-grey1);
}

.custom-table .tb-cell {
    height: 4.4rem;
    text-align: left;
    padding: 0 2.4rem;
    font: 400 1.4rem/2.2rem 'Inter';
    color: #00204DCC;
    vertical-align: middle;
}

.custom-table>.tb-header>tr>td {
    font: 600 1.2rem/2rem 'Inter';
    white-space: nowrap;
    color: #00204D99;
    background-color: #f9fafb !important;
}

.custom-table tr>td {
    background-color: #ffffff !important;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 52rem;
}

.custom-table tr.selected {
    background-color: #f5f7fa !important;
}

.custom-table tr.selected>td {
    background-color: #f5f7fa !important;
}

.tb-row>.tb-cell.tb-cell-fixed {
    z-index: 2;
    position: sticky;
    /* box-shadow: 1px 0px 6px 0px rgba(45, 50, 57, 0.06); */
    background-color: #ffffff;
}

.tb-header .tb-cell.tb-cell-fixed {
    z-index: 2;
    position: sticky;
    /* box-shadow: 1px 0px 6px 0px rgba(45, 50, 57, 0.06); */
    background-color: #ffffff;
}

.tb-cell[align-cell='start'] {
    text-align: start;
}

.tb-cell[align-cell='center'] {
    text-align: center;
}

.tb-cell[align-cell='end'] {
    text-align: end;
}