.custom-table {
    border: none;
    min-width: 100%;
    /* border-collapse: collapse; */
}

.custom-table>.tb-header {
    top: 0;
    z-index: 4;
    position: sticky;
}

.custom-table>.tb-header>tr {
    border-top: 1px solid #00358014;
    border-bottom: 1px solid #00358014;
}

.custom-table td {
    height: 4rem;
    text-align: left;
    flex-shrink: 0 !important;
    padding: 0 24px;
    font: 400 1.4rem/2.2rem 'Inter';
    color: #00204DCC;
}

.custom-table>.tb-header>tr>td {
    font: 600 1.2rem/2rem 'Inter';
    white-space: nowrap;
    color: #00204D99;
    background-color: #f9fafb !important;
}

.custom-table tr>td {
    height: 5rem !important;
    max-height: 5rem !important;
    background-color: #ffffff !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 52rem;
}

.custom-table tr.selected {
    background-color: #f5f7fa !important;
}

.custom-table tr.selected>td {
    background-color: #f5f7fa !important;
}

.tb-row>.tb-cell.tb-cell-fixed {
    z-index: 2;
    position: sticky;
    /* box-shadow: 1px 0px 6px 0px rgba(45, 50, 57, 0.06); */
    background-color: #ffffff;
}

.tb-header .tb-cell.tb-cell-fixed {
    z-index: 2;
    position: sticky;
    /* box-shadow: 1px 0px 6px 0px rgba(45, 50, 57, 0.06); */
    background-color: #ffffff;
}