.switch-container {
    position: relative;
    display: inline-block;
    background-color: var(--off-bg) !important;
    border-radius: 50vw !important;
    border: none;
    outline: none;
}

.switch-container>input {
    opacity: 0;
    width: 0;
    height: 0;
    border: none;
    outline: none;
}

.switch-container>.slider {
    font-size: var(--size);
    position: absolute;
    height: calc(100% - 0.2em);
    aspect-ratio: 1 / 1;
    left: 0.1em;
    top: 0.1em;
    background-color: var(--dot-color);
    transition: 0.4s;
    border-radius: 50%;
}

.switch-container>input:checked+.slider {
    -webkit-transform: translateX(calc(0.8 * (100% + 0.2em)));
    -ms-transform: translateX(calc(0.8 * (100% + 0.2em)));
    transform: translateX(calc(0.8 * (100% + 0.2em)));
}

.switch-container:has(> input:checked) {
    background-color: var(--on-bg) !important;
}

.switch-container:has(> input:disabled:not(*:checked)) {
    pointer-events: none;
    border: 1px inset #00358033;
    background-color: var(--disabled-background) !important;
}

.switch-container:has(> input:disabled:not(*:checked)) .slider {
    background-color: #00204D40;
}

.switch-container:has(> input:disabled:checked) {
    pointer-events: none;
    background-color: #bccdf5 !important;
}