.select-multi-container {
    border-radius: 0.4rem;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 4rem;
    max-height: 100%;
    box-sizing: border-box;
    padding: 0.8rem;
    gap: 0.8rem;
    width: 16rem;
    position: relative;
    border: 0.5px solid #00358033;
    border-radius: 4px;
    cursor: context-menu;
}

.select-multi-container.disabled {
    background-color: var(--disabled-background) !important;
    pointer-events: none !important;
}

.select-multi-container.helper-text {
    overflow: visible !important;
    border-color: var(--helper-text-color) !important;
}

.select-multi-container.helper-text::after {
    content: attr(helper-text);
    color: var(--helper-text-color);
    position: absolute;
    left: 0;
    bottom: -4px;
    width: max-content;
    font: 400 1.2rem/1.6rem 'Inter';
    transform: translate(-7.5%, 92.5%) scale(0.85);
}

.select-multi-container>.row::-webkit-scrollbar {
    display: none;
}

.selected-item-value>* {
    pointer-events: none;
}

.select-multi-container .select-multi-placeholder {
    font: 400 1.4rem/2.2rem "Inter";
    color: #c5c5c5;
}

.select-multi-container .selected-item-value {
    border-radius: 10rem;
    padding: 0.4rem 0.8rem;
    background-color: var(--selected-background);
    column-gap: 0.8rem;
}

.select-multi-container .selected-item-value>.selected-value-title {
    font: 400 1.2rem/1.6rem "Inter";
    color: #161D24E5;
}

.select-multi-popup {
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    border-radius: 0.8rem;
    height: fit-content;
    box-shadow: 0 0 12px 0 #00204d1f;
    align-items: center;
    padding: 0.8rem 0;
    box-shadow: -20px 20px 40px -4px rgba(145, 158, 171, 0.24), 0px 0px 2px 0px rgba(145, 158, 171, 0.24);
}

.select-multi-popup>.header-search {
    width: 100%;
    padding: 0.8rem 1.6rem;
    box-sizing: border-box;
    align-items: center;
}

.select-multi-popup>.header-search>input {
    outline: none;
    padding: 0;
    border: 0;
    font: 400 1.4rem/2.2rem "Inter";
    color: #1C2430;
    min-width: 0;
    flex: 1;
    max-width: 100%;
}

.select-multi-popup>.select-body {
    max-height: 100%;
    flex: 1;
    align-items: start;
    row-gap: 2px;
    max-height: 28rem;
    min-height: 8rem;
    width: 100%;
    padding-top: 0.4rem;
    overflow: hidden auto;
}

.select-multi-popup>.select-body>.select-tile {
    justify-content: start;
    align-items: center;
    padding: 0.8rem 1.6rem;
    gap: 0.8rem;
    width: 100%;
    cursor: context-menu;
}

.select-multi-popup>.select-body>.select-tile:hover {
    background-color: var(--hover-background);
}

.select-multi-popup>.select-body>.select-tile:has(input:checked) {
    background-color: var(--selected-background);
}

.no-results-found {
    padding: 0.8rem;
    font: 400 1.4rem/2rem "Inter";
    color: #1C2430;
}