.infinite-scroll.loading {
    position: relative;
}

.infinite-scroll.loading::after {
    content: '';
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    border: 0.4rem solid #f3f3f3;
    border-radius: 50%;
    border-top: 0.4rem solid var(--primary-color);
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}