.expert-sidebar {
    height: 100%;
    width: 20%;
    min-width: 30rem;
    max-width: 36.6rem;
    padding: 3.2rem 1.6rem 2.4rem;
    gap: 2.4rem;
    border-right: var(--border-grey1);
}

.expert-module-tile {
    padding: 0.9rem 1.6rem;
    border-radius: 0.8rem;
}

.expert-module-tile.selected {
    background-color: #00358014;
}